html {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

body {
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
}

nav {
  border-bottom: 5px solid #5d5da0;
  padding: 1.5rem;
  box-shadow: 0px 1px 10px #999;
}

.nav-contents {
  display: flex;
  justify-content: space-between;
  margin: 0rem 4rem;
  font-weight: bold;
}

a {
  margin: 15px;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.definitions-link {
 text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 50%;
  padding: 15px;
  margin: 20px;
}

h1 {
  align-self: flex-start;
  margin: 15px 0px;
  letter-spacing: 1px;
}

.definition-container {
  width: 100%;
}

h2 {
  margin: 10px 0px;
  font-weight: 600;
}

p {
  font-size: 15px;
  margin: 0px;
  color: black;
}

@media (max-width: 1340px) {
  .content-container {
    width: 60%;
  }

  h1 {
    font-size: 25px;
  }
}

@media (max-width: 1015px) {
  .nav-contents {
    margin: 0rem 1rem;
    font-size: 15px;
  }
}

@media (max-width: 925px) {
  .links {
    font-size: 13px;
  }

  .nav-contents p {
    font-size: 13px;
  }

  .content-container {
    width: 70%;
  }

  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  li {
    font-size: 13px;
  }

  p {
    font-size: 13px;
  }
}

@media (max-width: 790px) {
  nav {
    padding: 1.2rem;
  }

  .nav-contents {
    margin: 0rem 1rem;
    font-size: 13px;
  }
}

@media (max-width: 740px) {
  nav {
    padding: 1rem 0rem;
  }

  .web-name-container {
    width: 13rem;
    text-align: center;
  }

  .links {
    text-align: center;
  }
}

@media (max-width: 680px) {
  .links {
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 1rem;
  }

  a {
    margin: 0px;
  }

  .content-container {
    gap: .5rem;
    width: 80%;
  }

  h1 {
    font-size: 18px;
    margin: 10px 0px;
  }
}

@media (max-width: 490px) {
  .web-name-container {
    width: 10rem;
    font-size: 10px;
  }

  .links {
    width: 12rem;
    font-size: 10px;
    gap: 0.5rem;
  }

  .content-container {
    gap: .2rem;
    /* width: 90%; */
    padding: 15px;
  }

  h1 {
    font-size: 16px;
  }

  h3 {
    font-size: 13px;
  }

  li {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }
}

@media (max-width: 330px) {
  html {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  .links {
    gap: 0rem;
    padding: 5px;
    width: 6.5rem;
  }

  .definitions-link {
    display: none;
  }
 
  ul {
    padding: 0px 0px 0px 25px;
  }
}
