:root {
  --bg: #ffffff;
  --main: #f1f1f1;
  --compliment: #35355c;
}

html {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

body {
  background-color: var(--bg);
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
}

nav {
  border-bottom: 5px solid #5d5da0;
  width: 100%;
  padding: 1.5rem;
  box-shadow: 0px 1px 10px #999;
}

.nav-contents {
  display: flex;
  justify-content: space-between;
  margin: 0rem 4rem;
}

a {
  margin: 15px;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.calculator-link {
 text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  padding: 20px;
  margin-top: 15px;
}

h1 {
  color: black;
  letter-spacing: 1px;
  margin: 2px;
}

.title-container {
  width: 55%;
  padding: 5px;
}

.instructions {
  font-size: 14px;
  color: #686868;
  margin: 2px;
}

form {
  width: 55%;
  border: 1.5px solid #c9c9c9;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.11);
}

fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 40px;
}

p {
  font-size: 18px;
  margin: 0px;
  color: black;
}

.result-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.calculate-btn {
  width: 7rem;
  margin: 2px;
  padding: 4px;
  height: 2.5rem;
  background-color: var(--compliment);
  color: white;
  border: none;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: 0.4s;
}

.calculate-btn:hover,
.calculate-btn:focus {
  background-color: #5d5da0;
  font-weight: bold;
}

input {
  width: 5rem;
  height: 1.8rem;
  padding: 4px;
  margin: 2px;
  background-color: var(--bg);
  color: var(--compliment);
  font-size: 20px;
  border: 1.5px solid #c9c9c9;
  border-radius: 4px;
  text-align: center;
}

input::placeholder {
  font-size: 15px;
}

input:focus {
  outline: 1px solid var(--compliment);
}

.reset {
  border: none;
  background-color: transparent;
  color: var(--compliment);
  font-size: 25px;
  padding: 0px;
  cursor: pointer;
}

span {
  color: var(--compliment);
  font-weight: bold;
  letter-spacing: 1px;
}

@media (max-width: 1090px) {
  .calculate-btn {
    width: 6rem;
    font-size: 12px;
  }

  form {
    width: 80%;
  }
}

@media (max-width: 1058px) {
  p {
    font-size: 15px;
  }

  input {
    width: 4rem;
    height: 1.5rem;
    font-size: 15px;
  }

  fieldset {
    padding: 30px;
  }
}

@media (max-width: 905px) {
  fieldset {
    gap: 1rem;
    align-items: center;
    padding: 20px;
  }

  p {
    text-align: center;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 25px;
  }

  fieldset {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
  }

  input {
    width: 3rem;
    height: 1rem;
    font-size: 13px;
  }

  .result-container {
    gap: .5rem;
  }

  .calculate-btn {
    width: 4.5rem;
    height: 1.8rem;
    font-size: 10px;
  }

  .reset {
    font-size: 22px;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 16px;
    margin: 15px;
  }

  form {
    width: 90%;
  }

  .result-container {
    gap: .4rem;
  }
}

@media (max-width: 300px) {
  .result-container {
    flex-direction: column;
  }
}
