:root {
  --dark-blue: #10162f;
  --light-blue: #66c4ff;
  --teal: #3fb483;
}

body {
  background-color: var(--dark-blue);
  color: white;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 100vh;
  padding: 20px;
}

h1 {
  color: var(light-blue);
  letter-spacing: 1px;
}

form {
  width: 55%;
  border: 1.5px solid #0a0e1f;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.11);
}

fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 40px;
}

p {
  font-size: 20px;
  margin: 0px;
}

.result-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 0px 20px;
  margin-right: 10px;
  text-align: center;
  
}

.calculate-btn {
  align-self: flex-end;
  margin-left: 20px;
  width: 7rem;
  height: 2.5rem;
  background-color: transparent;
  color: var(--light-blue);
  border: 1.5px solid var(--light-blue);
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: .5px;
  cursor: pointer;
}

input {
  width: 4rem;
  padding: 4px;
  background-color: var(--dark-blue);
  color: var(--teal);
  font-size: 20px;
  border: 1.5px solid #0a0e1f;
  border-radius: 4px;
  text-align: center;
}

input:focus {
  outline: 1px solid var(--teal);
}

.reset {
  border: none;
  background-color: transparent;
  color: var(--teal);
  font-size: 25px;
  padding: 0px;
  cursor: pointer;
}

span {
  color: var(--teal);
  font-weight: bold;
  letter-spacing: 1px;
}